.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rmd
*.ppt
*.pptx
*.cdx
funtional-groups.csv
alkane-table.csv
chemistry-prefix-suffix.csv
terpenes.csv
SparklingGas.mov
SparklingGas.osp
Henryslawtable.csv
SparklingGas_assets/
*.R
*.r
*.psd
animatedGIF/
