p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* CUSTOM BLOCKS */

.rmd-insert-article {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f6f6f1;
  position:relative;
  font-family: "georgia";
  font-style: italic;
}

.rmd-insert-article:before {
    content: "\f1ea";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 40px;
    font-style: normal;
}



.rmd-chapter-summary {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f6f6f1;
  position:relative;
  font-family: "arial";
  font-style: normal;
  border-style: solid;
  border-color: gray;
}

.rmd-chapter-summary:before {
    content: "\f0a4";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 40px;
    font-style: normal;
}

.rmd-learning-objectives {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f6f6f1;
  position:relative;
  font-family: "arial";
  font-style: normal;
  border-style: solid;
  border-color: gray;
}

.rmd-learning-objectives:before {
    content: "\f19d";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 40px;
    font-style: normal;
}

.rmd-etymology {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f6f6f1;
  position:relative;
  font-family: "arial";
  font-style: normal;
  border-style: solid;
  border-color: #A82B0F;
  border-radius: 10px;
}

.rmd-etymology:before {
    content: "\f19c";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 40px;
    font-style: normal;
}

.rmd-study {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f6f6f1 7px 5px no-repeat;
  position:relative;
  font-family: "arial";
  font-style: normal;
  border-style: solid;
  border-color: #0816e5;
  border-radius: 10px;
}

.rmd-study {
  background-image: url("pictures/study.png");
}

.exercise {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  position:relative;
  font-family: "arial";
  font-style: normal;
  padding-left: 80px;
  border-top: 2px solid #317EAC;
  background: rgba(49, 126, 172, 0.1);
}

.theorem {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(222,222,231);
  box-shadow: 5px 10px 8px #888888;
}
.theorem::before {
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
}
.theorem p {
  padding: 15px 15px 15px 15px;
}
